.dj-container {

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    font-size: 0px;
}

.dj-child-container {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 2px;
    border: 2px solid red;
    background-color: blue;
    padding: 2px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}